body {
  --primary: #1e88e5;
  --primary-hover: #ff1644;
  --primary-focus: #1e88e522;
}

hr {
  margin: var(--block-spacing-vertical) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --typography-spacing-vertical: 0.5em !important;
  margin-top: var(--typography-spacing-vertical) !important;
  margin-bottom: calc(var(--typography-spacing-vertical) / 2) !important;
  line-height: 125%;
}

h1 {
  --font-size: 2.25rem !important;
}
h2 {
  --font-size: 1.75rem !important;
}
h3 {
  --font-size: 1.25rem !important;
}
h4 {
  --font-size: 1.125rem !important;
}
h5 {
  --font-size: 1rem !important;
  font-weight: 900;
}
h6 {
  --font-size: 0.875rem !important;
  font-weight: 600;
}

article img {
  max-width: 100%;
  border-radius: 0.25rem;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}
article a {
  display: inline-block;
  margin: -0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
article code {
  display: inline-block;
  margin: 0 -0.1rem;
  padding: 0 0.1rem;
  border-radius: 0.25rem;
  background: var(--muted-border-color);
}
